<footer class="footer">
    <div class="footer__wrapper wrapper wrapper_medium">
        <div class="logo header__logo">
            <img class="logo__icon" src="images/logo-image.png" alt="logo">
            <span class="logo__name">Platform</span>
        </div>
        <nav class="footer__nav nav">
            <a href="" class="nav__link">Вопросы и ответы</a>
            <a href="" class="nav__link">Обратная связь</a>
            <a href="" class="nav__link">Платные сервисы</a>
            <a href="" class="nav__link">Правила подачи объявлений</a>
        </nav>
        <div class="footer__up"></div>
    </div>
</footer>