<header class="header">
    <div class="header__wrapper wrapper wrapper_medium">
        <div class="logo header__logo">
            <img class="logo__icon" src="images/logo-image.png" alt="logo">
            <span class="logo__name">Platform</span>
        </div>

        <div class="search-bar header__search-bar">
            <input class="search-bar__element keywords-input" type="search" placeholder="Введите ключевое слово">
            <div class="search-bar__select-container">
                <select class="search-bar__element select" name="" placeholder="Выберите рубрику">
                    <option value="">Выберите рубрику</option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                </select>
            </div>
            <div class="search-bar__select-container">
                <select class="search-bar__element search-bar__element_region select" name="" placeholder="Регион">
                    <option value="">Регион</option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                </select>
            </div>
            <button class="search-bar__button button"><span class="button_search">Найти</span></button>
        </div>

        <div class="header__mini-button-container">
            <a class="mini-button mini-button_icon_liked"></a>
            <a class="mini-button mini-button_icon_language"></a>
        </div>

        <div class="sign header__sign">
            <button class="sign__sign-in button"><span class="button_sign-in">Вход</span></button>
        </div>
    </div>
</header>