<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/normalize.css">
</head>
<body>
    <header class="header">
        <div class="header__wrapper wrapper wrapper_medium">
            <div class="logo header__logo">
                <img class="logo__icon" src="images/logo-image.png" alt="logo">
                <span class="logo__name">Platform</span>
            </div>

            <div class="search-bar header__search-bar">
                <input class="search-bar__element keywords-input" type="search" placeholder="Введите ключевое слово">
                <select class="search-bar__element rubric" name="" placeholder="Выберите рубрику"></select>
                <select class="search-bar__element search-bar__element_region region" name="" placeholder="Регион"></select>
                <button class="search-bar__button button"><span class="button_search">Найти</span></button>
            </div>

            <a class="mini-button mini-button_icon_liked header__mini-button"></a>
            <a class="mini-button mini-button_icon_language header__mini-button"></a>

            <div class="sign header__sign">
                    <button class="sign__sign-in button"><span class="button_sign-in">Вход</span></button>
            </div>
        </div>
    </header>
    <section class="find-your-advertising">
        <div class="wrapper wrapper_mini">
            <h1 class="find-your-adversiting__title title-large">Найди свою рекламную площадь:</h1>
            <button class="find-your-advertising__button button">Подать объявление</button>
            <div class="link-cards-container">
                <div class="link-cards-container__card link-card link-card_circle_red">
                    <img class="link-card__image" src="images/find-your-advertising-billboard.png" alt="">
                    <div class="link-card__text">
                        <p class="link-card__name">Наружная реклама</p>
                        <p class="link-card__digit-ads">(1923)</p>
                    </div>
                </div>
                <div class="link-cards-container__card link-card">
                    <img class="link-card__image" src="images/find-your-advertising-internet.png" alt="">
                    <div class="link-card__text">
                        <p class="link-card__name">Реклама в интернете</p>
                        <p class="link-card__digit-ads">(1923)</p>
                    </div>
                </div>
                <div class="link-cards-container__card link-card">
                    <img class="link-card__image" src="images/find-your-advertising-transport.png" alt="">
                    <div class="link-card__text">
                        <p class="link-card__name">Реклама на транспорте</p>
                        <p class="link-card__digit-ads">(1923)</p>
                    </div>
                </div>
                <div class="link-cards-container__card link-card">
                    <img class="link-card__image" src="images/find-your-advertising-news.png" alt="">
                    <div class="link-card__text">
                        <p class="link-card__name link-card__name_large-text">Реклама в ср-вах массовой инф-ции</p>
                        <p class="link-card__digit-ads">(1923)</p>
                    </div>
                </div>
                <div class="link-cards-container__card link-card">
                    <img class="link-card__image" src="images/find-your-advertising-sale-places.png" alt="">
                    <div class="link-card__text">
                        <p class="link-card__name">Реклама на местах продаж</p>
                        <p class="link-card__digit-ads">(1923)</p>
                    </div>
                </div>
                <div class="link-cards-container__card link-card">
                    <img class="link-card__image" src="images/find-your-advertising-other.png" alt="">
                    <div class="link-card__text">
                        <p class="link-card__name">Иные виды рекламы</p>
                        <p class="link-card__digit-ads">(1923)</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</body>
</html>