.find-your-advertising {
  position: relative;
  padding-top: 5em;
  padding-bottom: 100px;
  min-height: 93vh;
  box-sizing: border-box;
  background: url(../images/background-find-your.png) no-repeat;
  background-size: cover;
  background-position: bottom;

  &__button {
    padding: 12px 30px;

    &:hover {
      background-color: $color-main;
    }

    &:after {
      content: '';
      display: inline-block;
      width: 12px;
      height: 15px;
      margin-left: 10px;
      background: url(../images/arrow-down-white.png) no-repeat;
      transform: rotate(-90deg);
      background-size: contain;
      background-position: bottom;
    }
  }
}

.title-large {
  width: 14em;
  font-family: $font-main-bold;
  font-size: 2.4em;
  text-transform: uppercase;
  color: $color-add;
  letter-spacing: 0.05em;
}

.link-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5em;


}

.link-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 8em;
  width: 30%;
  border-radius: 8px;
  margin-right: 5%;
  margin-bottom: 5%;
  background-color: $color-white;
  background: radial-gradient(circle at 40px 30px, #F8F8F8 73px, #EAEAEA 80px, #FFFFFF 80px);
  color: $color-add-light;
  box-shadow: 0px 0px 16px 6px rgba(0,0,0,0.1);
  cursor: pointer;

  &:nth-child(3n+3) {
    margin-right: 0;
  }

  &:hover {
    background: radial-gradient(circle at 40px 30px, $color-main 80px, #FFFFFF 81px);

    .link-card__image {
      &_billboard {
        background: url('../images/find-your-advertising-billboard-hover.svg') top no-repeat;
      }

      &_internet {
        background: url('../images/find-your-advertising-internet-hover.svg') top no-repeat;
      }

      &_transport {
        background: url('../images/find-your-advertising-transport-hover.svg') top no-repeat;
      }

      &_news {
        background: url('../images/find-your-advertising-news-hover.svg') top no-repeat;
      }

      &_sale-places {
        background: url('../images/find-your-advertising-sale-places-hover.svg') top no-repeat;
      }

      &_other {
        background: url('../images/find-your-advertising-other-hover.svg') top no-repeat;
      }
      &_barrier {
        background: url('../images/addad/hover/barrier.svg') top no-repeat;
      }

      &_billboard {
        background: url('../images/addad/hover/billboard.svg') top no-repeat;
      }

      &_bin-box {
        background: url('../images/addad/hover/bin-box.svg') top no-repeat;
      }

      &_citylight {
        background: url('../images/addad/hover/citylight.svg') top no-repeat;
      }

      &_fenslight {
        background: url('../images/addad/hover/fenslight.svg') top no-repeat;
      }

      &_pillar {
        background: url('../images/addad/hover/pillar.svg') top no-repeat;
      }

      &_stop {
        background: url('../images/addad/hover/stop.svg') top no-repeat;
      }

    }
  }

  &__text {
    width: 12em;
  }

  &__name {
    font-family: $font-add;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 10em;

    &:after {
      @extend %gray-line;
    }

    &_large-text {
      max-width: 11em;
    }
  }

  &__digit-ads {
    font-family: $font-main-medium;
  }

  &__image {
    position: relative;
    top: -17px;
    width: 53px;
    height: 53px;
    margin-left: 7%;
    background-size: contain!important;

    &_billboard {
      background: url('../images/find-your-advertising-billboard.svg') top no-repeat;
    }

    &_internet {
      background: url('../images/find-your-advertising-internet.svg') top no-repeat;
    }

    &_transport {
      background: url('../images/find-your-advertising-transport.svg') top no-repeat;
    }

    &_news {
      background: url('../images/find-your-advertising-news.svg') top no-repeat;
    }

    &_sale-places {
      background: url('../images/find-your-advertising-sale-places.svg') top no-repeat;
    }

    &_other {
      background: url('../images/find-your-advertising-other.svg') top no-repeat;
    }

    &_barrier {
      background: url('../images/addad/default/barrier.svg') top no-repeat;
    }

    &_billboard {
      background: url('../images/addad/default/billboard.svg') top no-repeat;
    }

    &_bin-box {
      background: url('../images/addad/default/bin-box.svg') top no-repeat;
    }

    &_citylight {
      background: url('../images/addad/default/citylight.svg') top no-repeat;
    }

    &_fenslight {
      background: url('../images/addad/default/fenslight.svg') top no-repeat;
    }

    &_pillar {
      background: url('../images/addad/default/pillar.svg') top no-repeat;
    }

    &_stop {
      background: url('../images/addad/default/stop.svg') top no-repeat;
    }
  }
}

.view-down {
  position: absolute;
  bottom: 0;
  left: calc(50% - 2.75em);
  width: 5.5em;
  height: 4.5em;
  background: url("../images/arrow-down-red.png") center no-repeat;
}