.header {
  @extend %header-footer;

  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__mini-button-container {
    margin-right: -40px;
  }
}

.logo {
  //display: flex;
  //flex-direction: row;
  //flex-wrap: nowrap;
  &__icon {
    vertical-align: middle;
  }

  &__name {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    font-family: $font-main-bold;
    font-size: 19px;
    color: $color-white;
  }

}

.mini-button {
  display: inline-block;
  width: 35px;
  height: 30px;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;

  &_icon_liked {
    background: url("../images/icon-like-white.png") no-repeat;
    background-size: 100% 100%;

    &_gray {
      background: url("../images/icon-like-gray.png") no-repeat;
      &:hover {
        background: url("../images/icon-like-gray-hover.png") no-repeat;
      }
    }
  }

  &_icon_language {
    background: url("../images/icon-language.png") no-repeat;
    background-size: 100% 100%;
  }
}


.sign {
  &__sign-in {
    padding: 10px 20px;
    background-color: $color-add;
  }
}
