$color-main: #FF000A;
$color-add: #393939;
$color-add-light: #808080;
$color-white: #FFFFFF;

$font-main: 'Raleway Regular', sans-serif;
$font-main-bold: 'Raleway Bold', sans-serif;
$font-main-medium: 'Raleway Medium', sans-serif;
$font-add: 'Roboto', sans-serif;

$wrapper-medium: 1170px;