@import "variables";

.main-view {
  position: relative;
  padding-top: 5em;
  padding-bottom: 100px;
  min-height: 93vh;
  box-sizing: border-box;
  background: url(../images/addad/background-main.png) no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed
}

.add-ad {
  &__title {
    text-transform: initial;
    width: 100%;
  }
}


.step-container {
  border-radius: 20px;

  &__step {
    position: relative;
    width: 30%;
    font-family: $font-main-bold;

    &_prev {
      .step-container__digit:hover {
        box-shadow: inset 4px 4px 9px 0px #B6000E, inset 0px 0px 3px 0 #B6000E;
        background-color: $color-main;
        color: $color-white;
      }
    }

    &_active {
      .step-container__digit {
        box-shadow: inset 4px 4px 9px 0px #B6000E, inset 0px 0px 3px 0 #B6000E;
        background-color: $color-main;
        color: $color-white;

        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 25.5px;
          height: 52px;
          border-left: 1px dashed $color-main;
        }
      }
    }
  }

  &__text {
    display: inline-block;
    padding: 10px;
    margin-left: 53px;
    font-size: 1em;
    color: #7A7A7A;
  }

  &__digit {
    display: block;
    position: absolute;
    top: -7px;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    font-size: 1.5em;
    color: #DCDCDC;
    text-align: center;
    line-height: 2.1em;
    background-color: #F8F8F8;
    box-shadow: inset 4px 4px 9px 0px, inset 0px 0px 3px 0;
  }
}


.categories {
  position: relative;
  margin-top: 58px;
  border-radius: 8px;

  &__category {
    display: inline-block;
    position: relative;
    width: 30%;
    margin: 0;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    font-family: $font-add;
    font-style: italic;
    color: $color-add-light;
    box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.1);

    &_active {
      color: $color-main;
      cursor: pointer;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 34%;
        right: 10px;
        width: 9px;
        height: 13px;
        background: url("../images/addad/arrow-right-red.png") no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}