@import "variables.scss";
@import "header.scss";
@import "search-bar.scss";
@import "find-your-adversiting.scss";
@import "ads-container.scss";
@import "ad.scss";
@import "ad-exchange-info.scss";
@import "footer.scss";


@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/Raleway-v4020-Bold.ttf") format("ttf"),
  url("../fonts/Raleway-v4020-Bold.eot") format("eot"),
  url("../fonts/Raleway-v4020-Bold.woff") format("woff");
}

@font-face {
  font-family: "Raleway Regular";
  src: url("../fonts/Raleway-v4020-Regular.ttf") format("ttf"),
  url("../fonts/Raleway-v4020-Regular.eot") format("eot"),
  url("../fonts/Raleway-v4020-Regular.woff") format("woff");
}

@font-face {
  font-family: "Raleway Medium";
  src: url("../fonts/Raleway-v4020-Medium.ttf") format("ttf"),
  url("../fonts/Raleway-v4020-Medium.eot") format("eot"),
  url("../fonts/Raleway-v4020-Medium.woff") format("woff");
}

body {
  font-family: $font-add;
}

*:active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0;
}

.wrapper {
  margin: 0 auto;

  &_mini {
    max-width: 1140px;
  }

  &_medium {
    max-width: 1170px;
  }

  &_large {
    max-width: 1280px;
  }
}


.button {
  border: none;
  border-radius: 20px;
  color: white;
  font-family: $font-main-bold;
  text-transform: uppercase;
  background-color: $color-add;
  cursor: pointer;

  &_search:before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 11px;
    background: url("../images/icon-search.png") no-repeat;
    background-size: 100% 100%;
  }


  &_sign-in {
    text-transform: capitalize;
    &:before {
      content: '';
      display: inline-block;
      width: 13px;
      height: 15px;
      margin-right: 11px;
      background: url("../images/icon-user.png") no-repeat;
      background-size: 100% 100%;
    }
    &:after {
      content: '';
      display: inline-block;
      width: 13px;
      height: 15px;
      margin-left: 30px;
      background: url(../images/arrow-down-white.png) no-repeat;
      background-size: contain;
      background-position: bottom;
    }
  }
}


%gray-line {
  content: '';
  display: block;
  width: 100px;
  border-bottom: 1px solid #C7C7C7;
  margin-top: 10px;
}

.main-container {
  background: url("../images/background-footer-1.png") left 67px bottom no-repeat, url("../images/background-footer-2.png") right 67px bottom no-repeat, #F6F6F6;
}

.title-container-gray {
  background-color: #BBBBBB;
  padding: 20px 0;
  margin-bottom: 50px;

  &__title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-white;
  }
}

.info-container {
  border-radius: 8px;
  margin-top: 70px!important;
  padding-top: 30px;
  padding-bottom: 70px;
  background-color: $color-white;
  box-shadow: 0px 0px 16px 6px rgba(0,0,0,0.1);

  &_top {
    margin-top: 0!important;
    padding-top: 60px;
  }
}

%header-footer {
  background-color: $color-main;
  padding: 10px 0;
}


